/** vars */

.main-logo,
.minor-logo {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.minor-logo {
  max-width: 100px !important;
}

/** start HEADER & MAIN NAV **/

#app-navbar-collapse {
  text-align: center;
  /*   display: flex!important; */
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-wrapper {
  clear: both;
  margin: 0 auto;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
  /*   background: yellow; */
}

a.minor-logo-link {
  display: block;
  clear: both;
}

/** MAIN NAVIGATION **/

nav.navbar .container::before,
nav.navbar::before {
  display: none !important;
  content: "" !important;
}

.navbar-default {
  background: #fff;
  border-bottom: none;
}

#app-navbar-collapse::before {
  display: none !important;
}

/** end HEADER & MAIN NAV **/

#page-content-wrapper {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .navbar {
    display: block;
  }

  a.minor-logo-link {
    /*! flex-grow: 4; */
    width: 100%;
    /*! display:block!important; */
  }

  div.navbar-collapse {
    /*     flex-basis: max-content; */
    width: 100%;
    /*     background: yellow; */
    /*! flex-grow: 2!important; */
    /*! clear: both; */
  }

  ul.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center !important;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid #fc5a00;
    border-bottom: 1px solid #fc5a00;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }

  ul.main-nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  ul.main-nav li a {
    font-size: 0.75rem;
    font-family: Lato;
    color: #004075;
    border-bottom: 1px solid transparent;
    font-weight: bold;
  }

  ul.main-nav li a:hover {
    color: #fc5a00;
    border-bottom: 1px solid #fc5a00;
  }
}

@media (min-width: 992px) {
  nav.bg-light {
    background-color: #fff !important;
  }

  .navbar {
    display: block;
  }

  a.minor-logo-link {
    /*! flex-grow: 4; */
    width: 100%;
    /*! display:block!important; */
  }

  div.navbar-collapse {
    /*     flex-basis: max-content; */
    width: 100%;
    /*     background: yellow; */
    /*! flex-grow: 2!important; */
    /*! clear: both; */
  }

  ul.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center !important;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid #fc5a00;
    border-bottom: 1px solid #fc5a00;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }

  ul.main-nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  ul.main-nav li a {
    font-size: 0.75rem;
    font-family: Lato;
    color: #004075;
    border-bottom: 1px solid transparent;
    font-weight: bold;
  }

  ul.main-nav li a:hover {
    color: #fc5a00;
    border-bottom: 1px solid #fc5a00;
  }

  /** MAIN CONTENT SECTION **/

  div#page-content-wrapper {
    font-size: 0.75rem;
  }

  section.content-header {
    /*     background-color: yellow!important; */
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
  }

  section.content-header::after {
    content: " ";
    display: block;
    clear: both;
  }

  div.box-body {
    padding: 0;
    border: 0 !important;
  }

  .box.box-primary {
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  #flight-table th {
    border-top: 0;
  }
}

